<title>Registro das Insumos</title>
<link rel="stylesheet" href="/css/menu-style.css">
<style>
    input[type="checkbox"] {
        display: block;
        margin: 6px;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #f7f7f7;
        margin-left: 10%;
        overflow-x: hidden;
    }

    .table>:not(caption)>*>* {
        color: var(--bs-table-color-state, var(--bs-table-color-type, #146b12));
    }

    .header {
        background-color: #00b80f;
        color: white;
        padding: 22px;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        width: 111.5%;
        position: relative;
        margin-top: 22px;
        left: -9%;
    }

    .btn-custom {
        background-color: #00b80f;
        color: white;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #29702c;
        /* Verde mais claro no hover */
        color: rgb(211, 211, 211);
    }

    .btn-custom2 {
        background-color: #00b80f;
        color: white;
        transition: background-color 0.3s ease;
    }

    .btn-custom2:hover {
        background-color: #29702c;
        /* Verde mais claro no hover */
        color: rgb(211, 211, 211);
    }

    .d-flex2 {
        width: 100%;
        max-width: 400px;
        padding-left: 40px;
        border: none;
        margin-left: 1%;
        margin-top: 15px;
    }

    .search-bar {
        display: flex;
    }

    /* Alinhar botões de forma responsiva */
    .d-flex {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .input-group {
        font-family: 'Didact Gothic', sans-serif;
    }

    .form-select {
        color: #146b12;
        font-weight: bold;
    }

    .sair-btn {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

    /* Responsividade */
    @media (min-width: 400px) and (max-width: 768px) {
        .search-bar {
            width: 100%;
            margin-bottom: 10px;
        }

        .btn-custom {
            width: 30%;
            height: 82px;
        }

        .btn-custom2 {
            width: 71%;
            height: 82px;
        }

        .d-flex {
            flex-direction: row;
            margin-left: 4%;
            gap: 1px;
        }

        .sair-btn {
            position: relative;
            bottom: 2rem;
            top: 1rem;
            left: 2rem;
            right: unset;
        }
    }

    @media  (max-width: 400px) {
        .search-bar {
            padding-left: 0%;
            width: 80%;
            margin-bottom: 10px;
        }

        .menu_lateral{
            width: 20px;
        }

        .btn{
            padding: 10px;
            font-size: 12px;
            font-weight: 600;
            height: 40px;
            margin: 0px;
        }

        .btn-success {
            margin: 0px;
            width: 50px;
            justify-content: center;
        }

        .d-flex{
            align-items: unset;
        }

        .d-flex2{
            padding-left: 10px;
            
        }

        .form-control{
            height: 40px;
            max-width: 130px;
        }

        .btn-outline-success{
            width: 50px;
            height: 40px;
        }

        /* Tabela responsiva */
        .table-responsive {
            overflow-x: auto;
            /* Permite rolar horizontalmente */
            -webkit-overflow-scrolling: touch;
            /* Melhor experiência de scroll em iOS */


        }

        table {
            font-size: 10px;
            /* Garantir que a tabela ocupe 100% da área disponível */
        }

        
        
        .bi-trash{
            position: relative;
            width: 10px;
        }
        
    }
</style>
</head>

<body>
    <div class="container">
        <section id="menu_lateral" style=" position: fixed; z-index: 1; width: 100%">
            <nav class="menu-lateral">
                <div class="btn-expandir" id="btn-exp">
                    <i class="bi bi-list"></i>
                </div>

                <ul>
                    <li class="item-menu" id="menu-dashboard">
                        <a href="/dashboard">
                            <span class="icon-menu">
                                <i class="bi bi-columns-gap"></i>
                            </span>
                            <span class="txt-menu">Dashboard</span>
                        </a>
                    </li>

                    <li class="item-menu" id="menu-colheitas">
                        <a href="/colheitas">
                            <span class="icon-menu">
                                <i class="bi bi-tree"></i>
                            </span>
                            <span class="txt-menu">Colheitas</span>
                        </a>
                    </li>

                    <li class="item-menu" id="menu-insumos">
                        <a href="/insumos">
                            <span class="icon-menu">
                                <i class="bi bi-droplet"></i>
                            </span>
                            <span class="txt-menu">Insumos</span>
                        </a>
                    </li>

                    <li class="item-menu" id="menu-venda-fornecedor">
                        <a href="/venda-fornecedor">
                            <span class="icon-menu">
                                <i class="bi bi-bag"></i>
                            </span>
                            <span class="txt-menu">Vendas/Fornecedores</span>
                        </a>
                    </li>

                    <li class="item-menu" id="menu-conta">
                        <a href="/conta">
                            <span class="icon-menu">
                                <i class="bi bi-person-circle"></i>
                            </span>
                            <span class="txt-menu">Sua conta</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>

        <!-- Barra de pesquisa com dropdown -->
        <form class="d-flex2" role="search" action="/pesquisar" method="get">
            <div class="search-bar">
                <input class="form-control me-2" type="search" name="termo" placeholder="Pesquisar" aria-label="Search">
                <select name="campo" class="form-select me-2">
                    <option value="tipo_insumo">Tipo de Insumo</option>
                    <option value="fornecedor">Fornecedor</option>
                    <option value="quantidade">Quantidade</option>
                </select>
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>

        <div id="resultados"></div>

        <div class="header adjustable-font">
            Estoque de Insumos
        </div>

        <!-- Seção principal -->
        <div class="container mt-4">
            <div class="d-flex gap-2 d-md-block">
                <div class="d-flex justify-content-md-end">
                    <button type="submit" class="btn btn-custom2">Gerar Relatório Mensal</button>
                </div>
                <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#novoItemModal">Novo +</button>
                <button class="btn btn-custom" id="editarButton" onclick="openInsumoModal()">Editar</button>
            </div>

            <!-- Tabela -->
            <div class="table-responsive adjustable-font">
                <table class="table table-striped table-bordered">
                    <thead class="table-success">
                        <tr>
                            <th></th>
                            <th>Tipo de Insumo</th>
                            <th>Quantidade</th>
                            <th>Fornecedor</th>
                            <th>Valor da Compra</th>
                            <th>Data de Compra</th>
                            <th>Validade</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each insumos}}
                        <tr id="insumo-row-{{this.id}}">
                            <td><input type="radio" class="radio" name="insumoSelecionado" value="{{this.id}}"
                                    data-tipo="{{this.tipo_insumoId}}" data-quantidade="{{this.quantidade}}"
                                    data-validade="{{this.validade}}" data-fornecedor="{{this.fornecedorId}}"
                                    onclick="marcarInsumo(this)"></td>
                            <td>{{this.tipo_insumo.nome}}</td>
                            <td>{{this.quantidade}}</td>
                            <td>{{this.fornecedor.nome}}</td>
                            <td>{{#if this.compras.length}}{{formatCurrency
                                this.compras.[0].valor_compra}}{{else}}N/A{{/if}}</td>
                            <td>{{#if this.compras.length}}{{formatDate this.compras.[0].data_registro}}{{else}}N/A{{/if}}</td>
                            <td>{{formatDate this.validade}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" onclick="deleteInsumo({{this.id}})">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <!-- Modal para editar informações de Insumos -->
            <div class="modal fade" id="editarItemModal" tabindex="-1" aria-labelledby="editarItemModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarItemModalLabel">Editar Insumo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editarItemForm" action="/atualizar-insumo" method="POST">
                                <input type="hidden" id="insumoId" name="insumoId" />
                                <!-- Campo oculto para armazenar o ID do insumo -->

                                <!-- Tipo de Insumo -->
                                <div class="mb-3">
                                    <label for="editarSelectTipoInsumo" class="form-label">Tipo de Insumo</label>
                                    <select class="form-select" id="editarSelectTipoInsumo" name="tipoInsumo" required>
                                        <option value="">Selecione um tipo de insumo</option>
                                        {{#each tiposInsumo}}
                                        <option value="{{this.id}}">{{this.nome}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <!-- Quantidade -->
                                <div class="mb-3">
                                    <label for="editarItemQuantidade" class="form-label">Quantidade</label>
                                    <input type="number" class="form-control" id="editarItemQuantidade"
                                        name="quantidade" required>
                                </div>

                                <!-- Fornecedor -->
                                <div class="mb-3">
                                    <label for="editarSelectFornecedor" class="form-label">Fornecedor</label>
                                    <select class="form-select" id="editarSelectFornecedor" name="fornecedor" required>
                                        <option value="">Selecione um fornecedor</option>
                                        {{#each fornecedores}}
                                        <option value="{{this.id}}">{{this.nome}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <!-- Validade -->
                                <div class="mb-3">
                                    <label for="editarItemValidade" class="form-label">Validade</label>
                                    <input type="date" class="form-control" id="editarItemValidade" name="validade"
                                        required>
                                </div>

                                <!-- Botão de salvar -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-success" id="salvarEdicaoItem">Salvar
                                        Alterações</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para adicionar informações de Insumos -->
            <div class="modal fade" id="novoItemModal" aria-hidden="true" aria-labelledby="novoItemModalLabel"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="novoItemModalLabel">Adicionar Novo Insumo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/add-insumos" method="POST" id="novoItemForm">
                                <div class="mb-3">
                                    <label for="selectTipoInsumo" class="form-label">Tipo de Insumo</label>
                                    <select class="form-select" id="selectTipoInsumo" name="tipoInsumo" required>
                                        <option value="">Selecione um tipo de insumo</option>
                                        {{#each tiposInsumo}}
                                        <option value="{{this.id}}">{{this.nome}}</option>
                                        {{/each}}
                                    </select>
                                    <div class="mt-2">
                                        <input type="text" class="form-control" id="novoTipoInsumo"
                                            placeholder="Adicionar novo tipo de insumo" />
                                        <button type="button" class="btn btn-primary mt-1"
                                            id="btnAddTipoInsumo">Adicionar</button>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="selectFornecedor" class="form-label">Fornecedor</label>
                                    <select class="form-select" id="selectFornecedor" name="fornecedor" required>
                                        <option value="">Selecione um fornecedor</option>
                                        {{#each fornecedores}}
                                        <option value="{{this.id}}">{{this.nome}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="itemQuantidade" class="form-label">Quantidade</label>
                                    <input type="number" class="form-control" id="itemQuantidade" name="quantidade"
                                        placeholder="Digite a quantidade" required>
                                </div>

                                <div class="mb-3">
                                    <label for="valor_compra" class="form-label">Valor da Compra</label>
                                    <div class="input-group">
                                        <span class="input-group-text">R$</span>
                                        <input type="text" class="form-control" id="valor_compra" name="valor_compra"
                                            placeholder="Digite o valor da compra (ex: 28.50)" required>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="itemDataCompra" class="form-label">Data de Compra</label>
                                    <input type="date" class="form-control" id="itemDataCompra" name="data_compra"
                                        required>
                                </div>

                                <div class="mb-3">
                                    <label for="itemValidade" class="form-label">Validade</label>
                                    <input type="date" class="form-control" id="itemValidade" name="validade" required>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-success" id="salvarNovoItem">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sair-btn">
                <button type="button" class="btn btn-success" style="margin-top: 1rem;">
                    <a class="text-end" href="/" style="color: rgb(218, 218, 218)"> Sair </a>
                </button>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

            <script>
                function openInsumoModal() {
                    const selectedRadio = document.querySelector('input[name="insumoSelecionado"]:checked');

                    if (selectedRadio) {
                        const selectedId = selectedRadio.value;

                        // Obtenha os dados diretamente da tabela para o insumo selecionado
                        const insumoNome = document.querySelector(`#insumo-row-${selectedId} td:nth-child(2)`).textContent.trim();
                        const quantidade = document.querySelector(`#insumo-row-${selectedId} td:nth-child(3)`).textContent.trim();
                        const fornecedorId = document.querySelector(`#insumo-row-${selectedId} td:nth-child(4)`).textContent.trim();
                        const validade = selectedRadio.getAttribute('data-validade'); // Pega a validade do atributo data do radio


                        // Certifique-se de que a validade esteja no formato correto
                        const formattedValidade = new Date(validade).toISOString().split('T')[0]; // Converte para 'YYYY-MM-DD'

                        // Preencha os campos do modal
                        document.getElementById('insumoId').value = selectedId;
                        document.getElementById('editarSelectTipoInsumo').value = selectedRadio.getAttribute('data-tipo'); // Usar o tipo do atributo data
                        document.getElementById('editarItemQuantidade').value = quantidade;
                        document.getElementById('editarSelectFornecedor').value = selectedRadio.getAttribute('data-fornecedor'); // Ajusta para o fornecedor selecionado
                        document.getElementById('editarItemValidade').value = formattedValidade; // Ajusta para a validade formatada


                        // Abrir o modal
                        const modal = new bootstrap.Modal(document.getElementById('editarItemModal'));
                        modal.show();
                    } else {
                        alert("Por favor, selecione um insumo para editar.");
                    }
                }
            </script>

            <script>
                document.getElementById('btnAddTipoInsumo').addEventListener('click', async () => {
                    const novoTipo = document.getElementById('novoTipoInsumo').value;

                    try {
                        const response = await fetch('/add-tipo-insumo', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ novoTipo })
                        });

                        const data = await response.json();

                        if (response.ok) {
                            alert(data.message); // Mostra a mensagem de sucesso

                            // Adiciona o novo tipo de insumo ao select
                            const selectTipoInsumo = document.getElementById('selectTipoInsumo');
                            const newOption = document.createElement('option');
                            newOption.value = data.tipoInsumo.id; // Use o ID que vem da resposta
                            newOption.textContent = data.tipoInsumo.nome; // Use o nome que vem da resposta
                            selectTipoInsumo.appendChild(newOption);

                        } else {
                            throw new Error(data.message); // Lança erro para o catch
                        }

                    } catch (error) {
                        console.error('Erro:', error);
                        alert('Erro ao adicionar tipo de insumo');
                    }
                });

                document.querySelector('.btn-custom2').addEventListener('click', function() {
                    const tableRows = document.querySelectorAll('table tbody tr');
                    const insumos = [];

                    tableRows.forEach(row => {
                        const cells = row.querySelectorAll('td');
                        const insumo = {
                            tipo_insumo: cells[1].innerText,
                            quantidade: cells[2].innerText,
                            fornecedor: cells[3].innerText,
                            valor_compra: cells[4].innerText,
                            data_compra: cells[5].innerText,
                            validade: cells[6].innerText
                        };
                        insumos.push(insumo);
                    });

                    // Enviar os dados para o servidor
                    fetch('/gerar-relatorio-insumos', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ insumos: insumos })
                    })
                    .then(response => response.blob())
                    .then(blob => {
                        // Criar um link para baixar o PDF gerado
                        const link = document.createElement('a');
                        link.href = URL.createObjectURL(blob);
                        link.download = 'relatorio_insumos.pdf';
                        link.click();
                    })
                    .catch(error => console.error('Erro ao gerar o PDF:', error));
                });

            </script>

            <script>
                function deleteInsumo(id) {
                    if (confirm('Você tem certeza que deseja excluir este insumo?')) {
                        fetch(`/insumos/${id}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => {
                                console.log('Resposta do servidor:', response);
                                if (!response.ok) {
                                    return response.text().then(text => {
                                        throw new Error(text || 'Erro ao excluir o insumo');
                                    });
                                }
                                return response.json();
                            })
                            .then(data => {
                                const row = document.getElementById(`insumo-row-${id}`);
                                if (row) {
                                    row.remove();
                                    alert(data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Erro:', error.message);
                                alert(`Ocorreu um erro: ${error.message}`);
                            });
                    }
                }

            </script>
            <script>
                document.getElementById('searchForm').addEventListener('submit', async function (e) {
                    e.preventDefault();  // Evita que o formulário faça um redirecionamento

                    const termo = document.getElementById('searchTerm').value;
                    const campo = document.getElementById('searchField').value;

                    const response = await fetch(`/pesquisar?termo=${termo}&campo=${campo}`, {
                        method: 'GET',
                    });

                    if (response.ok) {
                        const data = await response.json();
                        // Atualiza a página com os resultados
                        let resultadosHTML = '';
                        if (data.insumos && data.insumos.length > 0) {
                            data.insumos.forEach(insumo => {
                                resultadosHTML += `
                    <div class="insumo-item">
                        <p><strong>Tipo de Insumo:</strong> ${insumo.tipo_insumo.nome}</p>
                        <p><strong>Quantidade:</strong> ${insumo.quantidade}</p>
                        <p><strong>Validade:</strong> ${new Date(insumo.validade).toLocaleDateString('pt-BR')}</p>
                        <p><strong>Fornecedor:</strong> ${insumo.fornecedor.nome}</p>
                    </div>
                    <hr>`;
                            });
                        } else {
                            resultadosHTML = `<p>Nenhum insumo encontrado.</p>`;
                        }
                        document.getElementById('resultados').innerHTML = resultadosHTML;
                    } else {
                        console.error('Erro ao buscar insumos');
                        document.getElementById('resultados').innerHTML = '<p>Erro ao buscar insumos.</p>';
                    }
                });
            </script>


</body>

</html>